<form class="form-horizontal" method="post" action="/server" enctype="multipart/form-data">
  <div class="control-group">
    <label class="control-label" for="SERVER_URL">Front Facing URL:</label>
    <div class="controls">
      <input type="text"
          name="SERVER_URL"
          id="SERVER_URL"
          value="<%= locals.SERVER_URL || '' %>"
          placeholder="http://login.mycompany.com/"
          pattern="https?://.+"
          oninvalid="setCustomValidity('Please enter a url')"
          required>
      <span class="help-block">The default connector URL will be server-name:port, but this setting allows you to overwrite this (eg: connector.mycompany.com). This is the URL that your users will see when authenticating with Kerberos or Client Certificates.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="PORT">Connector PORT:</label>
    <div class="controls">
      <input type="text"
          name="PORT"
          id="PORT"
          value="<%= locals.PORT || '' %>"
          required>
      <span class="help-block">The port on which the server will run when Kerberos or Client Certificate Authentication is enabled.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="HTTP_PROXY">HTTP Proxy:</label>
    <div class="controls">
      <input type="text"
          name="HTTP_PROXY"
          id="HTTP_PROXY"
          value="<%= locals.HTTP_PROXY || '' %>"
          placeholder="http://proxy-server:8080/"
          pattern="https?://.+"
          oninvalid="setCustomValidity('Please enter a url')">
    </div>
  </div>

  <h5>Client Certificate Authentication</h5>
  <p>Complete these settings only if you enabled 'Use client SSL certificate authentication' option from the connection configuration.</p>

  <div class="control-group" style="border-top:0px;">
    <label class="control-label" for="SSL_PFX">SSL PFX:</label>
    <div class="controls">
      <input type="file"
          name="SSL_PFX"
          id="SSL_PFX"
          value="<%= locals.SSL_PFX || '' %>">
      <span class="help-block">Certificate and Private key to use for SSL</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="SSL_KEY_PASSWORD">Passphrase:</label>
    <div class="controls">
      <input type="password"
          name="SSL_KEY_PASSWORD"
          id="SSL_KEY_PASSWORD"
          value="<%= locals.SSL_KEY_PASSWORD || '' %>">
      <span class="help-block">A string of passphrase for the pfx</span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="CA_CERT">CA Certificate(s):</label>
    <div class="controls">
      <textarea type="text"
          name="CA_CERT"
          id="CA_CERT"
          placeholder="-----BEGIN CERTIFICATE-----
CA #1...
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
CA #2...
-----END CERTIFICATE-----"
          rows="10"><%= locals.CA_CERT || '' %></textarea>
      <span class="help-block">Content of your Authority certificate(s)</span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>