<form class="form-horizontal ldap" method="post" action="/ldap">
  <p>
    Please enter the settings to connect to your LDAP.
    This will be saved locally and never send exposed.
  </p>

  <div class="control-group">
    <label class="control-label" for="LDAP_URL">LDAP Connection String:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_URL"
          id="LDAP_URL"
          value="<%= locals.LDAP_URL || (locals.detected && locals.detected.LDAP_URL) ||  '' %>"
          placeholder="ldap://mycompany.com/"
          pattern="ldaps?://.+"
          oninvalid="setCustomValidity('Please enter a LDAP url')"
          required>
      <span class="help-block">The path to your directory. Eg: ldap://fabrikam.com or ldap://dc.fabrikam.com</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BASE">Base DN:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_BASE"
          id="LDAP_BASE"
          value="<%= locals.LDAP_BASE || (locals.detected && locals.detected.LDAP_BASE) || '' %>"
          placeholder="DC=mycompany,DC=com"
          required>
      <span class="help-block">Defines the location in the directory from which the LDAP search begins. Eg: DC=fabrikam,DC=local</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BIND_USER">Username:</label>
    <div class="controls">
      <input type="text"
          name="LDAP_BIND_USER"
          id="LDAP_BIND_USER"
          value="<%= locals.LDAP_BIND_USER || '' %>"
          placeholder="domain\username"
          required>
      <span class="help-block">The username of the service account which will be used to connect to LDAP when testing the connection and searching for users/groups.</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LDAP_BIND_PASSWORD">Password:</label>
    <div class="controls">
      <input type="password"
          name="LDAP_BIND_PASSWORD"
          id="LDAP_BIND_PASSWORD"
          required>
      <span class="help-block">The password of the service account. This will be encrypted in the configuration file.</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="ENABLE_WRITE_BACK">Enable Write Back:</label>
    <div class="controls">
      <input type="checkbox"
          name="ENABLE_WRITE_BACK"
          id="ENABLE_WRITE_BACK"
          <%= locals.ENABLE_WRITE_BACK ? 'checked' : '' %>
          >
      <span class="help-block">Enable write back to enable password reset. The service account needs additional permissions to reset the password</span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="ENABLE_ACTIVE_DIRECTORY_UNICODE_PASSWORD">Enable Unicode Password:</label>
    <div class="controls">
      <input type="checkbox"
          name="ENABLE_ACTIVE_DIRECTORY_UNICODE_PASSWORD"
          id="ENABLE_ACTIVE_DIRECTORY_UNICODE_PASSWORD"
          <%= locals.ENABLE_ACTIVE_DIRECTORY_UNICODE_PASSWORD ? 'checked' : '' %>
          >
      <span class="help-block">Enable Active Directory Unicode Password</span>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
